extends layout

block body
  h1#app-name Todooo
  div(ng-view)

  script(src='scripts/_build/todooo-all.js')

  //script(src='scripts/lib/angularjs-1.3.0-beta.5/angular.min.js')
  //script(src='scripts/lib/angularjs-1.3.0-beta.5/angular-route.min.js')

  //script(src='scripts/modules/todooo/app.js')
  //script(src='scripts/modules/todooo/config/routes.js')

  //script(src='scripts/modules/todooo/services/noteService.js')
  //script(src='scripts/modules/todooo/controllers/todoooController.js')
  //script(src='scripts/modules/todooo/filters/onlyUncheckedFilter.js')
  //script(src='scripts/modules/todooo/directives/smartInput.js')
  //script(src='scripts/modules/todooo/directives/expandable.js')
